@tailwind base;
@tailwind components;
@tailwind utilities;


table,tr{
  width: 100%;
  border-bottom: 1px solid #bbb;
  border-collapse: collapse;
  text-align: left;
  background-color:  rgb(243 244 246);
}
th,td{
  border: 1px solid #bbb;
  padding: 10px 5px;
}